.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  height: 100vh;
}

.login-card {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  height: 500px;
  padding: 2rem;
}

.form-section {
  padding: 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .logo {
    width: 30px;
    height: 30px;
    background-color: #00bcd4;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 2rem;
  }

  .login-form {
    width: 100%;
    max-width: 100%;
  }
}

.form-group {
  margin-bottom: 1.5rem;

  label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--text-color);
  }

  input {
    width: 100%;
    max-width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: var(--primary-color);
    }
  }
}

.btn-login {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;

  &:hover {
    filter: brightness(90%);
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.illustration-section {
  width: 50%;
  height: 100%;
  background-image: url('/imgs/login1.png');
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: var(--error-color);
  font-size: 0.8rem;
  margin-top: 0.25rem;
}


@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
    height: auto;
  }

  .form-section,
  .illustration-section {
    width: 100%;
  }

  .illustration-section {
    display: none;
  }
}