:host {
  // --- Variáveis e Estilos de Layout ---
  --primary-color: #101540;

  .sidenav-container {
    height: 100vh;
  }

  .sidenav {
    width: 200px;
    background-color: var(--primary-color);
  }

  .main-content {
    padding: 2rem;
    background-color: #f4f7f6;
    height: calc(100vh - 64px);
    overflow-y: auto;
  }

  // --- NOVOS ESTILOS PARA O SUBMENU ---
  .parent-item {
    cursor: pointer;
    position: relative;
  }

  .submenu-arrow {
    position: absolute;
    right: 16px;
    transition: transform 0.2s ease-in-out;
  }

  .submenu {
    background-color: rgba(0, 0, 0, 0.2); 
    overflow: hidden;
  }

  // --- Overrides Globais para o Tema do Material ---
  ::ng-deep {
   
    .mat-sidenav {
      border-radius: 0 !important;
    }

    
    .mdc-list-item__primary-text,
    .mdc-list-item__start { 
      color: #f4f7f6 !important;
    }


    .submenu .mat-list-item {
      
      padding-left: 56px !important; 
      font-size: 0.9rem; 
    }

    .mat-nav-list a.active-link {
      background-color: rgba(0, 0, 0, 0.25) !important;
      font-weight: 500;
    }
  }
}
