:host {
  --primary-color: #101540;

  .sidenav-container {
    height: 100vh;
  }

  .sidenav {
    width: 200px;
    background-color: var(--primary-color);
  }

  .sidebar-header {
    padding: 1rem;
    text-align: center;

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
      color: inherit;
    }
  }

  a.active-link {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: 500;
  }

  .main-content {
    padding: 2rem;
    background-color: #f4f7f6;
    height: calc(100vh - 64px); // Altura total - altura da toolbar
    overflow-y: auto;
  }

  // Estilos globais para sobrescrever estilos do Angular Material
  ::ng-deep {
    .mdc-list-item__primary-text,
    .mdc-list-item__start {
      color: #f4f7f6 !important;
    }

    .mat-sidenav {
      border-radius: 0 !important;
    }
  }
}
