.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
  // Você pode estilizar o fundo aqui se não quiser usar o do tema
  background-color: var(--primary-color);
  color: #f4f7f6;
}

.sidebar-header {
  padding: 1rem;
  text-align: center;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }
}

a.active-link {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.main-content {
  padding: 2rem;
  background-color: #f4f7f6;
  height: calc(100vh - 64px); // Altura total - altura da toolbar
  overflow-y: auto; // Adiciona scroll se o conteúdo for maior
}