<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <ng-container *ngFor="let item of navItems">
        <a mat-list-item *ngIf="!item.children"
           [routerLink]="item.path"
           routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>
        </a>
        <div *ngIf="item.children">
          <a mat-list-item (click)="toggleSubmenu(item.label)" class="parent-item">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
            <mat-icon class="submenu-arrow">{{ expandedStates[item.label] ? 'expand_less' : 'expand_more' }}</mat-icon>
          </a>
          <div class="submenu" *ngIf="expandedStates[item.label]">
            <a mat-list-item *ngFor="let child of item.children"
               [routerLink]="child.path"
               routerLinkActive="active-link">
              {{ child.label }}
            </a>
          </div>
        </div>

      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Painel Administrativo</span>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
